.main-container{
  width: 100vw;
  display: flex;
  flex-direction: center;
  align-content: center;
}

.navbar{
  width: 100vw;
  height: 10vh;
  background-color: rebeccapurple;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  font-size: 1cm;
  font-weight: 600;
}

.component-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
}

.component-img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.components{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.link{
  color: #fff !important;
  text-decoration: none;
}